body {
    /*background-color: #96939B;*/
    background-color: white;
    opacity: 1;
    transition: 3s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;	
}
#openingDiv {
    height: 100vh;
    background-color: white;
    position: relative;

}
#opContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#opening {
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-size: 50px;
    width: 500px;
    text-align: center;
    position: relative;
    background-color: #e6e6e6;
}
#name {
    font-family: 'Inconsolata', bold;
    color: white;
    font-size: 30px;
    text-align: center;
}
* {
    margin: 0;
}
#about {
    background-color: #bfbfbf;
    font-family: 'Oxygen', sans-serif;
    text-align: justify;
}
div.content {
    height: 90vh;
    background-color: #31aa7c;
}
.textContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page {
    height: 100vh;
    background-color: #bfbfbf;
    padding-top: 5vh;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}