/*----------------------
  $NAVBAR
    basic navbar styling
  ----------------------
nav {
  width: 100%;
  color: #bbb;
  opacity: 0.5;
  font-weight: bold;
  letter-spacing: 0.025em;
}
*/
#nav_div  {
}

nav ul {
  text-align: center;
  margin: 0;
}

nav ul li {
  color: #bbb;
  display: inline-block;
  padding: 0 3em;
  line-height: 3em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
}

nav ul li:hover {
  background: #00939C;

}

/*----------------------
  $BODY
  ----------------------*/

#name_block {
  width: 70%;
  height: 15%;
  float: right;
  background: rgba(0,0,0, 0.2);
  
}

.main_content {
  padding-top: 50px;
  height: 100vh;
}

